/*=====================================================
============commande génerale de la page===============
======================================================*/
body{
    box-sizing: border-box;
    max-width: 1160px;
    margin: auto;
}
/*=====================================================
=================partie header=========================
======================================================*/
.header{
   /*width: 1000px;*/
   position:relative;
   height: 200px;
   margin: auto;
   top: 18px;
}
.icones{
 display: flex;
 flex-wrap: wrap;
 width: 250px;
 position: absolute;
 bottom: 30px;
  right: 205px;

}
.icones-ef{
    width: 50%;
    display: flex;
    align-items: center;
}
.icones img{
height: 30px;
width: 30px;
}
.titres{
    position: relative;
}
.titres h1{
  position: absolute;
  top: 0px;
  right: 260px;
}
.titres h2{
    position: absolute;
    top: 40px;
    right: 160px;
}
.photo-cv{
  position: absolute;
  top: 35px;
  left: 60px
}
.photo-cv img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
}
/*=====================================================
============main main main main main main==============
======================================================*/
/***************** competences ***********************/
.competence{
    max-width: 30%;
    height: 1013.73px;
    /*flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;*/
    margin-top: -3px;
}
.comp li{
  display: flex;                 
  justify-content: space-between;
  align-items: center;
}
h3{
    margin-top: 21.72px;
    padding-left: 71px;
    padding-top: 11px;
    margin-bottom: 8.72px;
}
 .h-right{
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 8.72px;
}
.comp ul{
  padding-left: 30px;
  padding-right: 30px;
}
 hr{
    max-width: 82%;
    color: #e3e3e3;
}
.parcours{
    position: relative;
  max-width: 812px;
  position: absolute;
  top: 218px;
  right: 188px;
  background-color: aquamarine;
}
.profil p{
    text-align:justify;
    max-width: 82%;
    text-indent: 40px;
    padding-left: 77px;
    padding-right: 77px;
   
}
.profil hr{
    max-width: 82%;
}

.langues{
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.langues .row {
  display: flex;
  justify-content: space-between;
}
.langues dd{
    text-align: right;
}
.langues hr{
    padding-left: 30px;
    padding-right: 30px;
}
.langues h3{
    padding-left: 0px;
}

.form-e{
    position: relative;
}
.form-e .right{
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 77px;
  
}
.form-e .left{
    padding-left: 71px;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-e .row1{
    padding-bottom: 10px;
}
